$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$l1: hsla(0, 0%, 100%, 1);
$l2: hsla(223, 13%, 87%, 1);
$l3: hsla(0, 0%, 77%, 1);
$d1: hsla(0, 0%, 20%, 1);
$d2: #555;
$p1: #ffc324;
$g1: #ffb714;
$g2: #ffe579;
