.custom-route {
  display: flex;
  align-items: center;
  &__button {
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #7b76d5;
    color: rgb(245, 244, 251);
    cursor: pointer;
    margin-right: 0.5rem;
  }
}
