@use "../../styles/partials/mixins" as *;

.custom-route {
  display: flex;
  align-items: center;

  @include tablet {
    align-self: flex-end;
  }

  &__button {
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #7b76d5;
    color: rgb(245, 244, 251);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.5rem;

    @include tablet {
      font-size: 0.8rem;
    }

    @include desktop {
      font-size: 1rem;
    }

    &:hover {
      background-color: #5a54b5;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: #333;

    &:focus {
      outline: none;
      border-color: #7b76d5;
      box-shadow: 0 0 4px rgba(123, 118, 213, 0.5);
    }
  }
}
