@use "../../styles/partials/mixins" as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex-direction: column;
  background-color: #353535;

  @include tablet {
    flex-direction: row;
  }

  &__image {
    height: 10%;
    width: 2rem;
  }

  &__title {
    text-decoration: none;
    color: #3c6e71;
    font-weight: 700;
    padding-bottom: 1rem;
  }

  &__header {
    margin: 0;
  }

  &__container {
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: #3c6e71;
    font-weight: 600;
    font-size: 0.8rem;

    &.active {
      border-radius: 2rem;
      color: #353535;
      background-color: #3c6e71;
      padding: 0.5rem 1rem;
    }
  }
}
