@use "../../styles/partials/mixins" as *;
.bar {
  &__container {
    display: flex;
    gap: 3rem;
    align-items: center;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    color: #3c6e71;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;

    &.active {
      border-radius: 2rem;
      color: #353535;
      background-color: #3c6e71;
      padding: 0.5rem 1rem;
    }
  }
}
