.footer {
  background-color: rgb(245, 244, 251);

  &__header {
    text-decoration: none;
    color: #7b76d5;
    font-weight: 700;
  }

  &__title {
    margin: 0;
    padding: 1rem 0.5rem;
  }

  &__image {
    height: 2rem;
    width: 2rem;
  }

  &__container {
    padding: 0.2rem 0.5rem;
  }
}
