@use "../../styles/partials/mixins" as *;

.map-container {
  display: flex;
  flex-direction: column;
  position: relative;

  &__button {
    align-self: flex-end;
    width: 40%;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    border: none;
    padding: 0.5rem 0;
    color: rgb(245, 244, 251);
    background-color: #7b76d5;

    @include tablet {
      width: 20%;
    }
  }
}

.info-cards-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 35%;
  width: 100%;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 1rem;
  border-radius: 8px;
  transition: all 0.5s;

  @include tablet {
    width: 30%;
    height: 100%;
  }
}

.map-box {
  height: 60vh;
  width: 100%;

  &__container {
    width: 100%;
    height: 100%;
  }
}

.map-container-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s ease;
  flex-direction: column;

  @include tablet {
    display: flex;
    flex-direction: row;
    left: 7.5rem;
    bottom: 0;
    width: 78%;
    margin: 0.5rem auto;
    justify-content: space-between;
  }

  &--view {
    @include tablet {
      width: 63%;
    }
  }

  &__box {
    align-self: flex-start;
    padding-bottom: 1rem;

    @include tablet {
      align-self: flex-end;
      padding-bottom: 0;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include tablet {
      width: 30rem;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    @include tablet {
      justify-content: space-between;
      width: 50%;
      flex-direction: row;
      margin-top: 0;
    }
  }

  &__button {
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #7b76d5;
    color: rgb(245, 244, 251);
    cursor: pointer;
    margin: 0.2rem 0;

    @include tablet {
      margin: 0;
    }
  }
}

.modal {
  margin-top: 1rem;
  &__form {
    &-container {
      &-container {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

// .saved-routes-container {
//   position: absolute;
//   top: 10%;
//   right: 5%;
//   background-color: rgba(255, 255, 255, 0.9);
//   padding: 1rem;
//   border-radius: 8px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//   z-index: 1000;
//   max-height: 50vh;
//   overflow-y: auto;

//   h2 {
//     margin-bottom: 1rem;
//     font-size: 1.5rem;
//     color: #333;
//   }

//   .saved-route {
//     margin-bottom: 1rem;
//     padding: 0.5rem;
//     border: 1px solid #ddd;
//     border-radius: 8px;

//     h3 {
//       margin: 0;
//       font-size: 1.2rem;
//       color: #7b76d5;
//     }

//     p {
//       margin: 0.5rem 0;
//       font-size: 0.9rem;
//       color: #666;
//     }

//     button {
//       background-color: #7b76d5;
//       color: #fff;
//       border: none;
//       padding: 0.5rem 1rem;
//       border-radius: 20px;
//       cursor: pointer;
//       transition: background-color 0.3s ease;

//       &:hover {
//         background-color: #5a54b5;
//       }
//     }
//   }
// }
